# Home Assistant configuration
HOMEASSISTANT_DIR_PATH=

# Jellyfin configuration
JELLYFIN_DIR_PATH=
JELLYFIN_MEDIA_1_DIR_PATH=
JELLYFIN_MEDIA_2_DIR_PATH=

# Navidrome configuration
NAVIDROME_DIR_PATH=
NAVIDROME_MUSIC_DIR_PATH=

# Pi-hole configuration
PIHOLE_DIR_PATH=
PIHOLE_WEB_PASSWORD=

# WireGuard configuration
WIREGUARD_DIR_PATH=

# FreshRSS configuration
TIMEZONE=
BASE_URL=https://freshrss.example.net
ADMIN_EMAIL=admin@example.net
ADMIN_PASSWORD=freshrss
ADMIN_API_PASSWORD=freshrss
## Published port if running locally
PUBLISHED_PORT=8080
## Database credentials (not relevant if using default SQLite database)
DB_HOST=freshrss-db
DB_BASE=freshrss
DB_PASSWORD=freshrss
DB_USER=freshrss