# General configuration
TIMEZONE="Europe/Rome"

#Home Assistant configuration
HOMEASSISTANT_DIR_PATH="../volumes/homeassistant"

# Jellyfin configuration
JELLYFIN_DIR_PATH="../volumes/jellyfin/config"
JELLYFIN_MEDIA_1_DIR_PATH=
JELLYFIN_MEDIA_2_DIR_PATH=

# Navidrome configuration
NAVIDROME_DIR_PATH=
NAVIDROME_MUSIC_DIR_PATH=

# Pi-hole configuration
PIHOLE_DIR_PATH="../volumes/pihole"
PIHOLE_WEB_PASSWORD="pihole"
PIHOLE_PUBLISHED_HTTP_PORT=8081
PIHOLE_PUBLISHED_HTTPS_PORT=8443

# WireGuard configuration
WIREGUARD_DIR_PATH="../volumes/wireguard"

# FreshRSS configuration
## BASE_URL=https://freshrss.example.net
ADMIN_EMAIL=admin@example.net
ADMIN_PASSWORD=freshrss
ADMIN_API_PASSWORD=freshrss
## Published port if running locally
FRESHRSS_PUBLISHED_PORT=8082
## Database credentials (not relevant if using default SQLite database)
DB_HOST=freshrss-db
DB_BASE=freshrss
DB_PASSWORD=freshrss
DB_USER=freshrss
FRESHRSS_DIR_PATH="../volumes/freshrss"

# Glances configuration
GLANCES_DIR_PATH="../volumes/glances"